/* Reset & Base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #f5f6f5;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #cdd8ce;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar .brand {
  font-style: italic;
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 12px;
  border-radius: 5px;
}

.sidebar ul li.active a {
  font-weight: bold;
  background: #a9b9a8;
}

/* Main Section */
.main {
  flex: 1;
  background: #fff;
  
}

/* Top Navbar */
.top-navbar {
  width: 100%;
  background: #cdd8ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.top-navbar nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #999;
}

.top-navbar nav a:first-child {
  color: #333;
  font-weight: bold;
}


/* Table & Buttons */
.table-container {
  margin: 40px;
  

}

#addRow {
  margin-bottom: 10px;
  padding: 8px 12px;
  background: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #f8f6f7;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

button.edit {
  background: #bbb;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button.delete {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button.export {
  background: #27ae60;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
